<head>
    <meta charset="UTF-8">
    <title>Auto-showcase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/svg+xml" href="https://svgsilh.com/svg_v2/2386838.svg">
    <style>
        .price:before{ content:'$'; }
        .price:after{ content: '.00'; }
        .model:after{ content: '  '; }
    </style>
</head>