<head>
    <meta charset="UTF-8">
    <title>Auto-showcase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrap-4.ru/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="https://svgsilh.com/svg_v2/2386838.svg">
    <style>
        .price:before{ content:'$'; }
        .price:after{ content: '.00'; }
        .model:after{ content: '  '; }
        .hidden{
            visibility: hidden;
        }
        #overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            opacity: .5;
        }
    </style>
</head>